html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#btn-test {
    position:absolute;
    color:rgba(255,255,255,0.5);
    width:auto;
    height:auto;
    top:85%;
    left:49%;
}

#btn-test:hover {
    color:#fff;
}

body {
    font-family: serif;
}
/* start main container playing looping viedo */
video#bgvid {
    position: fixed;
    top: 1px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url("../img/meThumbsUp.jpg") no-repeat;
    background-size: cover;
}
/* end of main container playing looping video */

#main-container {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#header-container {
    background-color: rgba(44,45,47,0.4);
    top: 0;
    left: 0;
    position: absolute;
    height:16%;
    width: 100%;
}

#header-container:hover {
    background-color:rgba(44,45,47,0.8);
}

#header-logo {
    display: inline-block;
    margin: 1% 0 0% 3%;
}

#header-list-container {
    margin: 6% 5% 0 0;
    float: right;
}

.header-list {
    margin: 0 25px 0 25px;
    float: left;
}

.header-list a {
    text-decoration: none;
    font-family: inherit;
    font-size: 24px;
    color: #fff;
}

.header-list a:hover {
    color: #FE5607;
}

/* start scroll effect with header */

/* start of middle container css */

#middle-container {
    text-align: right;
    word-spacing: 0.2em;
    font-size: 3em;
    line-height: 0.6em;
    margin: 2% -6%;
    width: 100%;
    height: 100%;
    color: #fff;
}

#middle-text {
    padding-top: 10%;
}

.rowOne {
    font-weight: normal;
    font-family: fantasy;
}

.rowTwo {
    font-weight: 600;
}

#row-one{
    margin:3% 4% 2% 0%;
}

#row-two{
    margin:0% -2% 4% 0%;
}

#row-three{
    margin:0% 1% 2% 0%;
}

#row-four{
    margin:0% 0% 4% 0%;
}

#row-five{
    margin:0% 3% 0% 0%;
}
/* end of middle container css */

/* start of lower container css */

#lower-container {
    background-color: rgba(249,249,248, 0.9);
    padding-top: 15%;
    margin-top: 2%;
    width: 100%;
    height: 84%;
}

#lower-main-text {
    line-height: 200%;
    word-spacing: 0.5em;
    font-size: 2.8em;
    color: #444444;
    margin: auto;
    width: 93%;
}

.highLight {
    color: #FE5607;
}

#lower-main-text span {
    border-bottom: 1px solid #DEDEDE;
}

.bLeft-container {
    margin-left: 5%;
    float: left;
    height: 44%;
    width: 59%;
}

.bLeft-container p {
    line-height: 202%;
    word-spacing: 0.2em;
    font-size: 1.9em;
    color: #444444;
    margin: auto;
    width: 90%;
}

#next {
    border-radius: 5px;
    background-color: rgba(249,249,248, 0.4);
    font-family: Courier;
    margin:2% 0 0 5%;
    font-size: 1.2em;
    width: 25%;
    height: 18%;
}

#next:hover {
    background-color: rgb(254,86,7);
    color: #fff;
}

#prev {
    border-radius: 5px;
    background-color: rgba(249,249,248, 0.4);
    font-family: Courier;
    margin:2% 0 0 5%;
    font-size: 1.2em;
    width: 25%;
    height: 18%;
}

#prev:hover {
    background-color: rgb(254,86,7);
    color: #fff;
}

#bRight-container {
    border: 1px solid;
    margin: 5px 60px 20px 0;
    float: right;
}

/* slider css start */
#frame {
    width: 350px;
    height: 200px;
    padding: 5px;
    border: 2px solid #FE5607;
}

#slider-container {
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.slider-img {
    position: absolute;
}

.slider-off {
    left: 380px;
}

.slider-back {
    left: -380px;
}

/* end of slider css */

#footer {
    clear: both;
    text-align: center;
    height: 30px;
    width: 100%;
    margin: auto;
}

/* end of lower container css */

.style-clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* above css is built for index page */

/* below css is built for contact page */

#contact-main-container {
    width: 100%;
    height: 552px;
}

#mini-header-container {
    background-color: rgba(19,19,19,0.8);
    height: 70px;
    width: 100%;
}

#mini-header-container:hover {
    background-color:rgb(19,19,19);
}

#mini-header-logo {
    margin: 2px 0 0 50px;
    float: left;
}

#mini-header-list-container {
    margin-right: 50px;
    float: right;
}

#mini-header-list-container li {
    margin: 38px 35px 0 0;
    font-size: 20px;
    float: left;
}

.mini-header-list a {
    text-decoration: none;
    color: #fff;
}

.mini-header-list a:hover {
    color: #FE5607;
}

#current-pg a {
    text-decoration: none;
    color: #FE5607;
}

/* end of mini header section */

/* start of main container contact */

#top-container {
    width: 100%;
    height: 130px;
}

#emailForm {
    border-radius: 10px;
    position: absolute;
    top: 110px;
    left: 272px;
    background: #000;
}

#contactForm {
    background-color:#000;
    border-radius:10px;
    text-align:center;
    position: absolute;
    display:none;
    top: 83px;
    left: -38px;
    color: #fff;
    width: 575px;
    height: 340px;
}

#userName {
    border-radius: 5px;
    display:block;
    margin:auto;
    width: 350px;
    height: 30px;
}

#e-color {
    text-align: center;
}

#e-color a {
    text-decoration: none;
    color: #fff;
}

#e-color a:hover {
    color: #FE5607;
}

#btn-mail {
    border-radius: 5px;
}

#btn-mail:hover {
    color: #FE5607;
}

#email {
    border-radius: 5px;
    display:block;
    margin:auto;
    width: 350px;
    height: 30px;
}

.font-sz {
    padding-left: 8px;
    font-size: 18px;
}

#comment-field {
    border-radius: 5px;
    font-size:16px;
    display:block;
    margin:auto;
    padding: 4px;
    width: 350px;
    height: 100px;
}

#submit-btn {
    margin-right: 107px;
    float: right;
}

.fa {
    width: 98px;
    height: 88px;
}

#linkedin {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 117px;
    left: 444px;
}

#linkedin a {
    text-decoration: none;
    color: #319BC2;
}

#linkedin a:hover {
    color: #7FBA00;
}

#tweet {
    position: absolute;
    top: 117px;
    left: 578px;
}

#tweet a {
    color: #319BC2;
    text-decoration: none;
}

#tweet a:hover {
    color: #7FBA00;
}

#github {
    position: absolute;
    top: 117px;
    left: 705px;
}

#github a {
    color: #000;
    text-decoration: none;
}

#github a:hover {
    color: #6D3082;
}

#contact-text {
    display: inline-block;
    width: 100%;
    height: 387px;
    margin: auto;
}

#hdr-txt {
    margin-bottom: 5px;
    text-align: center;
    font-size: 40px;
}

#txt-block {
    word-spacing: 5px;
    line-height: 30px;
    margin: auto;
    height: 150px;
    width: 527px;
}

.last-words {
    margin-top: 0;
    font-size: 20px;
}

#mySig {
    font-family: cursive;
}

#myPhone {
    text-decoration: none;
}

#myPhone:hover {
    color: #FE5607;
}

/* end of main container contact */
/* start of about page */

#about-main-container {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#about-header-container {
    background-color: rgba(19,19,19,0.8);
    position:fixed;
    height: 70px;
    width: 100%;
}

#about-header-container:hover {
    background-color:rgb(19,19,19);
}

#about-header-logo {
    margin: 2px 0 0 50px;
    float: left;
}

#about-header-list-container {
    margin-right: 50px;
    float: right;
}

#about-header-list-container li {
    margin: 38px 35px 0 0;
    font-size: 20px;
    float: left;
}

.about-header-list a {
    text-decoration: none;
    color: #fff;
}

.about-header-list a:hover {
    color: #FE5607;
}

#page1-container {
    background-color:rgba(127,186,0,1.0);
}

#page2-container {
    background-color:rgba(109,48,130,1.0);
}

#page3-container {
    background-color:rgba(194,194,194,0.1);
}

.quick-scroll {
    float:right;
    width:3%;
    height:100%;
}

.quick-scroll:hover {
    background-color:rgba(13,13,13,0.1);
}

.up-arrow {
    text-decoration:none;
    margin:445% 13% 445% 13%;
    height:4%;
    width:72%;
    color:#fff;
}

.up-arrow:hover {
    color:#B10007;
}

.down-arrow {
    text-decoration:none;
    margin:445% 13% 445% 13%;
    height:4%;
    width:72%;
    color:#fff;
}

.down-arrow:hover {
    color:#B10007;
}

.page-container {
    height: 100%;
    width: 100%;
}
